{% block grid_widget %}
    {% block grid %}
        <table class="grid">
            {% for line in data %}
                <tr>
                    {% for cell in line %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}