{% extends 'base.html.twig' %}

{% block body %}
    {% for game in games %}
        {% include 'form/fields.html.twig' with {'data': game.grid} %}
        Played at {{ game.getCreateTime() |date }} <a href="{{ path('game_play', {'id': game.getId()}) }}">Play</a>
    {% endfor %}
{% endblock %}
