{% extends 'base.html.twig' %}

{% block body %}
Threes

    <ul>
        <li>
            <a href="{{ path('game_new') }}">New game</a>
        </li>
        <li>
            <a href="{{ path('game_play') }}">Play</a>
        </li>
        <li>
            <a href="{{ path('history_index') }}">Last 10 games</a>
        </li>
    </ul>
{% endblock %}

